@import "../vars/colors";

@mixin icon($width: 55px, $height: 55px, $padding: 1.6rem) {
  display: block;
  width: $width;
  height: $height;
  cursor: pointer;
  @include list-item($padding);
}

@mixin link($display: inline, $padding: 0, $decoration: none) {
  display: $display;
  padding: $padding;
  text-decoration: $decoration;
  color: $main-font-color;
  cursor: pointer;
}

@mixin list-reset() {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin list-item($padding: 0, $margin: 0) {
  padding: $padding;
  text-align: center;
  margin: $margin;
}

@mixin flex-display($direction: row, $justify: flex-start, $align: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
