%input {
  height: 6.6rem;
  min-width: 289px;
  padding: 2rem;
  border: none;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(46, 46, 46, 0.15);
  -moz-box-shadow: 1px 1px 2px 0 rgba(46, 46, 46, 0.15);
  box-shadow: 1px 1px 2px 0 rgba(46, 46, 46, 0.15);
}
