<template>
  <aside class="aside__wrapper bg-color--third font-color--secondary">
    <div class="search__wrapper w-100 d--flex row align_items--center mb-6">
      <input
        type="text"
        placeholder="SEARCH"
        class="search__input bg-color--main font-color--accent"
      >
      <button class="search__btn center font-color--accent pa-0">
        <font-awesome-icon :icon="['fas', 'search']" class="search__btn__icon bg-color--secondary font-color--main" />
      </button>
    </div>
    <div v-if="ad" class="ad__container w-100 mb-6">
      <img :src="require(`~/assets/images/${ad.imageSrc}`)" :alt="ad.alt" class="aside__ad w-100 h-100">
    </div>
    <div v-if="articleCategories.length > 0" class="categories__wrapper w-100 uppercase mb-6">
      <h5 class="categories__title text-center font-bold mb-6">
        Categories
      </h5>
      <ul class="categories__list">
        <li v-for="category in articleCategories" :key="category.name" class="categories__list__item text-left font-medium mb-6">
          <nuxt-link :to="`/blog?category=${category.name}`" class="decoration--none font-color--secondary">
            {{ category.name }} <span class="articles_number">{{ category.quantity }}</span>
          </nuxt-link>
        </li>
      </ul>
    </div>
    <div v-if="adSmall" class="ad__container--small w-100 mb-6">
      <img :src="require(`~/assets/images/${adSmall.imageSrc}`)" :alt="adSmall.alt" class="aside__ad w-100 h-100">
    </div>
    <div v-if="articlesLatest.length > 0" class="latest-posts__wrapper w-100 uppercase mb-6">
      <h5 class="latest-posts__title text-center font-bold mb-6">
        Latest posts
      </h5>
      <ul class="latest-posts__list">
        <li v-for="article in articlesLatest" :key="article.id" class="mb-6">
          <nuxt-link :to="`/blog/${article.slug}`" class="latest-posts__list__item decoration--none">
            <div
              v-if="article.imageSrc"
              :style="{ backgroundImage: 'url(' + require(`~/assets/images/${article.imageSrc}`) + ')' }"
              class="latest-posts__list__item__thumbnail"
            />
            <div class="latest-posts__list__item__thumbnail mr-3" />
            <div class="latest-posts__list__item__info">
              <h6 class="latest-posts__list__item__info__title font-color--secondary mb-6">
                {{ article.title }}
              </h6>
              <p class="latest-posts__list__item__info__date font-color--accent">
                {{ $moment(new Date(article.date)).format('ll') }}
                <span class="ml-4">Likes {{ article.likes }}</span>
              </p>
            </div>
          </nuxt-link>
        </li>
      </ul>
    </div>
    <Socials
      v-if="socialsDisplay"
      :socials-items="socialItems"
      justify="between"
      class="w-100"
    />
    <AsideSlider
      v-if="sliderItems.length > 0"
      :items="sliderItems"
      :item-switch-translation-value="300"
      :slider-horizontally="false"
    />
  </aside>
</template>

<script>
import Socials from './Socials'
import AsideSlider from './AsideSlider'

export default {
  components: {
    Socials,
    AsideSlider
  },
  props: {
    ad: {
      type: Object,
      default: () => {}
    },
    adSmall: {
      type: Object,
      default: () => {}
    },
    articleCategories: {
      type: Array,
      default: () => []
    },
    articlesLatest: {
      type: Array,
      default: () => []
    },
    sliderItems: {
      type: Array,
      default: () => []
    },
    socialsDisplay: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      socialItems: [
        { name: 'twitter', url: 'https://www.twitter.com', iconType: 'fab', icon: 'twitter' },
        { name: 'facebook', url: 'https://www.facebook.com', iconType: 'fab', icon: 'facebook-f' },
        { name: 'dribbble', url: 'https://www.dribbble.com', iconType: 'fab', icon: 'dribbble' },
        { name: 'pinterest', url: 'https://www.pinterest.com', iconType: 'fab', icon: 'pinterest' },
        { name: 'linkedin', url: 'https://www.linkedinu.com', iconType: 'fab', icon: 'linkedin-in' }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
  .aside__wrapper {
    @include flex-display(column, center);
    width: 360px;
    padding: 4rem 3rem;
    box-sizing: border-box;
    margin-left: 6rem;

    .search__wrapper {
      .search__input {
        width: 250px;
        padding: 1.4rem 3rem;
        font-size: 1.5rem;
        border: none;
      }

      .search__btn {
        .search__btn__icon {
          @include icon(50px, 50px);
        }
      }
    }

    .ad__container {
      height: 600px;
    }

    .ad__container--small {
      height: 250px;
    }

    .categories__wrapper {
      .categories__title {
        font-size: 2rem;
      }

      .categories__list {
        @include list-reset();

        .categories__list__item {
          .articles_number {
            float: right;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .latest-posts__wrapper {
      .latest-posts__title {
        font-size: 2rem;
      }

      .latest-posts__list {
        @include list-reset();

        & > li:nth-child(odd) > .latest-posts__list__item > .latest-posts__list__item__thumbnail {
          background-color: $main-color;
        }

        & > li:nth-child(even) > .latest-posts__list__item > .latest-posts__list__item__thumbnail {
          background-color: $secondary-color;
        }

        & > li:last-child > .latest-posts__list__item {
          margin-bottom: 0;
        }

        .latest-posts__list__item {
          @include flex-display(row, flex-start, flex-start);

          .latest-posts__list__item__thumbnail {
            width: 80px;
            height: 64px;
          }

          .latest-posts__list__item__info {
            width: 204px;
            min-height: 64px;

            .latest-posts__list__item__info__title {
              font-size: $main-font-size;
              line-height: $main-font-size;
            }

            .latest-posts__list__item__info__date {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    @media screen and (max-width: $desktop-lg-max-width) {
      display: none;
    }
  }
</style>
