<template>
  <div class="aside__slider w-100 p--relative overflow_x--hidden">
    <div id="asideSliderWrapper" class="h-100 d--flex align_items--center">
      <div
        v-for="(item, index) in items"
        :key="index"
        class="aside__slider__item w-100 h-100 bg-color--secondary"
        :style="{ backgroundImage: item.imageSrc ? 'url(' + require(`~/assets/images/${item.imageSrc}`) + ')' : 'none' }"
      />
    </div>
    <div class="slider__nav w-100 p--absolute">
      <font-awesome-icon
        class="slider__nav__arrow__icon font-color--main"
        :icon="['fas', 'long-arrow-alt-left']"
        @click="switchSlide(getDOMElements(), itemSwitchTranslationValue, itemSwitchDuration, itemSwitchEasing, false, false)"
      />
      <font-awesome-icon
        class="slider__nav__arrow__icon font-color--main"
        :icon="['fas', 'long-arrow-alt-right']"
        @click="switchSlide(getDOMElements(), itemSwitchTranslationValue, itemSwitchDuration, itemSwitchEasing, false)"
      />
    </div>
  </div>
</template>

<script>
import slider from '../mixins/slider'

export default {
  mixins: [slider],
  computed: {
    slider: () => document.getElementById('asideSliderWrapper')
  }
}
</script>

<style scoped lang="scss">
  .aside__slider {
    height: 230px;

    #asideSliderWrapper {
      .aside__slider__item {
        min-width: 300px;
        background-size: cover;
      }
    }

    .slider__nav {
      @include flex-display(row, space-between, center);
      top: 50%;
      transform: translateY(-50%);

      .slider__nav__arrow__icon {
        @include icon(36px, 36px, 1rem);
      }
    }
  }
</style>
