<template>
  <footer class="w-100">
    <div class="footer w-100 bg-color--secondary">
      <div class="footer__wrapper main_container center">
        <div class="footer__sections__wrapper">
          <section class="footer__section">
            <h5 class="footer__section__title">
              About blog
            </h5>
            <div class="footer__section__content w-100">
              <p class="section__about mb-2">
                Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.
              </p>
              <img :src="require(`~/assets/images/blog.jpg`)" alt="About blog image" class="w-100 h-100">
            </div>
          </section>
          <section class="footer__section">
            <h5 class="footer__section__title">
              Latest tweets
            </h5>
            <div class="footer__section__content w-100">
              <ul class="tweets__list">
                <li v-for="(item, index) in latestTweets" :key="index" class="tweets__list__item mb-6">
                  <a :href="item.url" class="item--link">
                    <p class="font-bolder mb-2">
                      <font-awesome-icon :icon="['fab', 'twitter']" class="mr-1" />
                      @{{ item.author }}
                    </p>
                    <p class="tweet__content ml-6">{{ item.text }}</p>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="footer__sections__wrapper">
          <section class="footer__section">
            <h5 class="footer__section__title">
              Follow my Instagram
            </h5>
            <div class="footer__section__content instagram__list w-100 d--flex wrap">
              <a v-for="(item, index) in latestInstagramPhotos" :key="index" :href="item.url">
                <div
                  class="instagram_item bg-color--main"
                  :style="{ backgroundImage: item.imageSrc ? 'url(' + require(`~/assets/images/${item.imageSrc}`) + ')' : 'none' }"
                />
              </a>
            </div>
          </section>
          <section class="footer__section">
            <h5 class="footer__section__title">
              Latest comments
            </h5>
            <div class="footer__section__content w-100">
              <ul class="comments__list">
                <li v-for="(item, index) in latestComments" :key="index" class="comments__list__item mb-6">
                  <nuxt-link :to="item.url" class="item--link">
                    <p class="mb-2">
                      From <span class="font-bolder">{{ item.author }}</span>
                    </p>
                    <p>{{ item.text }}</p>
                  </nuxt-link>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="author w-100 font-color--accent uppercase">
      <div class="main_container center text-center font-light py-3 px-1">
        &copy;{{ date.getFullYear() }} Copyright All rights reserved by Awesome Theme<br>Coded by Paweł Spierewka
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  props: {
    latestComments: {
      type: Array,
      default: () => []
    },
    latestInstagramPhotos: {
      type: Array,
      default: () => []
    },
    latestTweets: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    date: () => new Date()
  }
}
</script>

<style scoped lang="scss">
  .footer {
    padding: 60px 0;

    .footer__wrapper {
      @include flex-display(row, space-between, center, wrap);

      .footer__sections__wrapper {
        @include flex-display(row, space-between, flex-start, wrap);
        width: calc(50% - 1.5rem);

        .footer__section {
          width: calc(50% - 1.5rem);

          .footer__section__title {
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 2rem;

            &:first-child {
              margin-right: 3rem;
            }
          }

          .footer__section__content {
            .tweets__list, .comments__list {
              @include list-reset();
            }

            .tweets__list__item, .comments__list__item {
              .item--link {
                @include link();
              }

              &:last-child {
                margin-bottom: 0;
              }

              &:hover {
                text-decoration: underline;
              }

              @media screen and (max-width: $mobile-sm-max-width) {
                .tweet__content {
                  margin-left: 0;
                }
              }
            }

            .instagram_item {
              width: 118px;
              height: 96px;
              background-size: cover;
              margin: 1px;
            }
          }

          &:first-child {
            margin-right: 3rem;
          }

          @media screen and (max-width: $desktop-xl-max-width) {
            margin-bottom: 3rem;
          }

          @media screen and (max-width: $mobile-sm-max-width) {
            width: 100%;
            text-align: center;

            .footer__section__title {
              &:first-child {
                margin-right: 0;
              }
            }

            .instagram__list {
              justify-content: center;
            }

            &:first-child {
              margin-right: 0;
            }
          }
        }

        &:first-child {
          margin-right: 3rem;
        }

        @media screen and (max-width: $desktop-xl-max-width) {
          width: 100%;
          padding: 0 0.8rem;

          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .author {
    background-color: #17191c;
    font-size: 1.4rem;
  }
</style>
