<template>
  <header class="w-100 bg-color--secondary">
    <div class="header__wrapper main_container center">
      <font-awesome-icon
        :icon="['fas', 'bars']"
        class="header__icon"
        @click="toggleNav"
      />
      <Logo class="header__logo p--absolute" />
      <div class="icons__wrapper d--flex align_items--center">
        <Socials :socials-items="socialsItems" justify="end" class="font-color--main" />
        <font-awesome-icon
          :icon="['fas', 'search']"
          class="header__icon"
        />
      </div>
    </div>
  </header>
</template>

<script>
import { mapActions } from 'vuex'
import Logo from './Logo'
import Socials from './Socials'

export default {
  components: {
    Logo,
    Socials
  },
  data () {
    return {
      socialsItems: [
        { name: 'rss', url: '#', iconType: 'fas', icon: 'rss' },
        { name: 'twitter', url: 'https://www.twitter.com', iconType: 'fab', icon: 'twitter' },
        { name: 'tumblr', url: 'https://www.tumblr.com', iconType: 'fab', icon: 'tumblr' },
        { name: 'facebook', url: 'https://www.facebook.com', iconType: 'fab', icon: 'facebook-f' }
      ]
    }
  },
  methods: {
    ...mapActions({
      toggleNav: 'toggleNavigationState'
    })
  }
}
</script>

<style scoped lang="scss">
  .header__wrapper {
    @include flex-display(row, space-between, center);

    .header__icon {
      @include icon(55px, 55px);
    }

    .header__logo {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .icons__wrapper {
      @media screen and (max-width: $mobile-md-max-width) {
        display: none;
      }
    }
  }
</style>
