<template>
  <div class="logo__wrapper pa-2">
    <h1 class="logo font-color--main font-bolder uppercase ma-0">
      Deco<span class="logo--small font-light">blog</span>
    </h1>
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
  .logo__wrapper {
    .logo {
      font-size: 2.2rem;

      .logo--small {
        font-size: 2rem;
      }
    }
  }
</style>
