<template>
  <div class="main__slider__wrapper">
    <div class="main__slider__bg__wrapper w-100">
      <div class="w-100 h-50 bg-color--secondary" />
      <div class="w-100 h-50 bg-color--main" />
    </div>
    <div class="main__slider w-100 p--relative overflow--hidden">
      <div id="mainSliderWrapper">
        <div
          v-for="(item, index) in items"
          :key="index"
          class="main__slider__item"
          :style="{ backgroundImage: 'url(' + require(`~/assets/images/${item.imageSrc}`) + ')' }"
        >
          <div class="slider__item__about w-100 font-color--main font-bolder">
            <p class="slider__item__type capitalize mb-2">
              Latest news
            </p>
            <nuxt-link :to="item.url" class="item__title uppercase">
              {{ item.title }}
            </nuxt-link>
          </div>
        </div>
      </div>
      <div class="slider__nav__wrapper h-100 p--absolute">
        <div class="slider__items__tabs__wrapper">
          <div
            v-for="(item, index) in items"
            :id="`mainSliderItemTab${index}`"
            :key="index"
            :class="['slider__item__tab', 'mr-2', {'active': index === activeItemIndex}]"
          />
        </div>
        <div class="slider__nav">
          <font-awesome-icon
            class="slider__nav__arrow__icon"
            :icon="['fas', 'long-arrow-alt-left']"
            @click="switchSlide(getDOMElements(), itemSwitchTranslationValue, itemSwitchDuration, itemSwitchEasing, true, false)"
          />
          <span class="slider__nav__label d--block font-bolder capitalize">Featured article</span>
          <font-awesome-icon
            class="slider__nav__arrow__icon"
            :icon="['fas', 'long-arrow-alt-right']"
            @click="switchSlide(getDOMElements(), itemSwitchTranslationValue, itemSwitchDuration, itemSwitchEasing)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import slider from '~/mixins/slider'

export default {
  mixins: [slider],
  computed: {
    activeSlideTab () {
      return document.getElementById(`mainSliderItemTab${this.activeItemIndex}`)
    },
    slider: () => document.getElementById('mainSliderWrapper')
  },
  beforeMount () {
    if (process.browser) {
      window.onNuxtReady(() => {
        this.startSlider(
          this.getDOMElements(),
          this.itemSwitchTranslationValue,
          1000,
          this.itemSwitchEasing,
          this.sliderHorizontally,
          this.itemSwitchForward,
          this.itemsSwitchInterval
        )
      })
    }
  }
}
</script>

<style scoped lang="scss">
  .main__slider__wrapper {
    @include flex-display(column, center);
    height: 580px;

    .main__slider__bg__wrapper {
      min-height: 580px;
      transform: translateY(50%);
    }

    .main__slider {
      max-width: $desktop-xl-max-width;
      min-height: 580px;
      transform: translateY(-50%);
      z-index: 1;

      #mainSliderWrapper {
        height: 580px;

        .main__slider__item {
          @include flex-display(row, flex-start, center);
          height: 580px;
          background-position: center;
          background-size: cover;

          .slider__item__about {
            max-width: 580px;
            margin-left: 10rem;

            .slider__item__type {
              font-size: 1.8rem;
              letter-spacing: 0.5rem;
            }

            .item__title {
              @include link();
              font-size: 4rem;
              line-height: 5rem;
              letter-spacing: 0.5rem;

              &:hover {
                text-decoration: underline;
              }

              @media screen and (max-width: $mobile-xs-max-width) {
                & {
                  font-size: 3rem;
                }
              }
            }

            @media screen and (max-width: $mobile-md-max-width) {
              & {
                padding: 8px;
                text-align: center;
                margin: 0 auto;
              }
            }
          }
        }
      }

      .slider__nav__wrapper {
        @include flex-display(column, center);
        bottom: 0;
        right: 0;
        transform: rotate(270deg) translateY(80px);

        .slider__items__tabs__wrapper {
          @include flex-display(row, center, center);

          .slider__item__tab {
            width: 10px;
            height: 10px;
            border: 1px solid $main-color;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }

            &.active {
              background-color: $main-color;
            }
          }
        }

        .slider__nav {
          @include flex-display(row, center, center);

          .slider__nav__label {
            font-size: 1.8rem;
            letter-spacing: 0.14em;
          }

          .slider__nav__arrow__icon {
            @include icon(54px, 54px);
          }
        }

        @media screen and (max-width: $mobile-md-max-width) {
          & {
            width: 100%;
            height: 100px;
            transform: rotate(0) translateY(0);
          }
        }
      }
    }
  }
</style>
