<template>
  <nav id="navigation" :class="['navigation__wrapper', 'w-100', 'h-100', 'p--absolute', { active: isActive }]">
    <Logo class="center my-6" />
    <font-awesome-icon :icon="['fas', 'times']" class="close__btn p--absolute" @click="toggleNav" />
    <ul class="navigation__list w-100">
      <li v-for="item in navItems" :key="item.name" class="navigation__list__item">
        <nuxt-link
          class="navigation__link font-bolder"
          :to="`/${item.name}`"
          @click.native="toggleNav"
        >
          {{ item.label }}
        </nuxt-link>
      </li>
    </ul>
    <Socials :socials-items="socialsItems" class="font-color--main my-6" />
  </nav>
</template>

<script>
import { mapActions } from 'vuex'
import Logo from './Logo'
import Socials from './Socials'

export default {
  components: {
    Logo,
    Socials
  },
  data () {
    return {
      navItems: [
        { name: '', label: 'Home' },
        { name: 'about', label: 'About' },
        { name: 'contact', label: 'Contact Us' }
      ],
      socialsItems: [
        { name: 'rss', url: '#', iconType: 'fas', icon: 'rss' },
        { name: 'twitter', url: 'https://www.twitter.com', iconType: 'fab', icon: 'twitter' },
        { name: 'tumblr', url: 'https://www.tumblr.com', iconType: 'fab', icon: 'tumblr' },
        { name: 'facebook', url: 'https://www.facebook.com', iconType: 'fab', icon: 'facebook-f' }
      ]
    }
  },
  computed: {
    isActive () {
      return this.$store.state.isNavigationActive
    }
  },
  methods: {
    ...mapActions({
      toggleNav: 'toggleNavigationState'
    })
  }
}
</script>

<style scoped lang="scss">
  .navigation__wrapper {
    @include flex-display(column, flex-start);
    max-width: 320px;
    background-color: #222;
    top: 0;
    left: 0;
    transform: translateX(-320px);
    transition: .5s ease;
    -webkit-box-shadow: 1px 0 2px 0 rgba(46, 46, 46, 0.5);
    -moz-box-shadow: 1px 0 2px 0 rgba(46, 46, 46, 0.5);
    box-shadow: 1px 0 2px 0 rgba(46, 46, 46, 0.5);
    z-index: 2;

    &.active {
      transform: translateX(0);
      transition: .5s ease;
    }

    .close__btn {
      @include icon(55px, 55px);
      top: 0;
      right: 0;
    }

    .navigation__list {
      @include list-reset;

      .navigation__list__item {
        @include list-item;
      }
    }

    .navigation__link {
      @include link(block, 2rem 0);

      &:hover {
        background-color: #323232;
      }
    }
  }
</style>
