<template>
  <div class="newsletter__wrapper w-100 center pa-6">
    <form action="#" class="newsletter__form">
      <h4 class="form__title d--block font-color--secondary font-bold uppercase">
        Signup for Newsletter
      </h4>
      <label class="hidden" for="name">Your name</label>
      <input id="name" class="form__input" type="text" placeholder="YOUR NAME">
      <label class="hidden" for="email">Your email</label>
      <input id="email" class="form__input" type="email" placeholder="YOUR EMAIL ADDRESS">
      <button class="btn-submit" type="submit">
        Subscribe now
      </button>
    </form>
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
  .newsletter__wrapper {
    max-width: $desktop-xl-max-width;

    .newsletter__form {
      @include flex-display(row, space-between, center);

      .form__title {
        width: 200px;
        font-size: 2.2rem;
        letter-spacing: 0.5rem;
      }

      .form__input {
        width: 450px;
      }

      .btn-submit {
        width: 310px;
      }
    }

    @media screen and (max-width: $desktop-xl-max-width) {
      .newsletter__form {
        flex-wrap: wrap;

        .form__title {
          width: 100%;
          text-align: center;
          margin-bottom: 3rem;
        }
        .form__input {
          width: calc(100% / 3);
        }
      }
    }

    @media screen and (max-width: $desktop-lg-max-width) {
      display: none;
    }
  }
</style>
