<template>
  <div v-if="pages > 0" class="pagination w-100 d--flex justify--center text-center px-2 py-4">
    <button
      type="button"
      :class="['pagination__button', { active: pageIndex > 1, inactive: pageIndex === 1 }]"
      @click="pageIndex -= 1"
    >
      <font-awesome-icon :icon="['fas', 'chevron-left']" />
    </button>
    <button
      v-for="page in pages"
      :key="page"
      type="button"
      :class="['pagination__button', { active: page === pageIndex }]"
      @click="pageIndex = page"
    >
      {{ page }}
    </button>
    <button
      type="button"
      :class="['pagination__button', { active: pageIndex < pages, inactive: pageIndex === pages }]"
      @click="pageIndex += 1"
    >
      <font-awesome-icon :icon="['fas', 'chevron-right']" />
    </button>
  </div>
</template>

<script>
export default {
  props: {
    index: {
      type: Number,
      default: 1
    },
    pages: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      pageIndex: this.index
    }
  },
  watch: {
    pageIndex (index) {
      this.$emit('changePage', index)
    }
  }
}
</script>

<style scoped lang="scss">
  .pagination {
    & .pagination__button {
      display: block;
      width: 50px;
      height: 50px;
      background-color: $third-color;
      color: $accent-font-color;
      font-size: 1.8rem;
      font-weight: bold;
      border: 1px solid $accent-color;
      border-left: none;
      margin: 0;

      &.active {
        background-color: $secondary-color;
      }

      &.inactive {
        background-color: #444;
        pointer-events: none;
      }

      &:first-child {
        border-radius: 15% 0 0 15%;
        border-left: 1px solid $accent-color;
      }

      &:last-child {
        border-radius: 0 15% 15% 0;
      }
    }
  }
</style>
