<template>
  <article class="post bg-color--third font-color--secondary text-center">
    <div
      class="post__image p--relative w-100"
      :style="{ backgroundImage: post.imageSrc ? 'url(' + require(`~/assets/images/${post.imageSrc}`) + ')' : 'none' }"
    >
      <font-awesome-icon :icon="['far', 'image']" size="2x" class="post__image__icon p--absolute" />
    </div>
    <div class="px-1">
      <div class="post__header uppercase">
        <h3 class="post__header__category font-light font-color--accent mb-6">
          {{ post.category }}
        </h3>
        <h2 class="post__header__title mb-6">
          {{ post.title }}
        </h2>
        <div class="post__header__wrapper d--flex justify--center font-color--accent mb-6">
          <div class="post__header__author mr-5">
            <font-awesome-icon :icon="['fas', 'user']" class="mr-1" />
            {{ post.author }}
          </div>
          <div class="post__header__date">
            <font-awesome-icon :icon="['far', 'calendar-alt']" class="mr-1" />
            {{ $moment(new Date(post.date)).format('LL') }}
          </div>
        </div>
      </div>
      <div class="post__content text-left mb-6">
        {{ isPreview ? `${post.text.substring(0, 700).trimEnd()}...` : post.text }}
      </div>
      <nuxt-link
        v-if="isPreview"
        :to="`/blog/${post.slug}`"
        class="post__read_more_btn d--inline-block font-color--secondary decoration--none font-bolder uppercase px-3 py-2 mb-6"
      >
        Read more
      </nuxt-link>
      <ul v-if="!isPreview" class="post__tags_list d--flex align_items--center justify--center uppercase">
        <font-awesome-icon :icon="['fas', 'tags']" size="lg" class="tags__icon" />
        <li v-for="(tag, index) in post.tags" :key="tag" class="mr-1">
          <nuxt-link :to="`/blog?tag=${tag}`" class="tag font-color--accent">
            {{ tag }}
          </nuxt-link>{{ post.tags.length > index + 1 ? ',' : '' }}
        </li>
      </ul>
      <div class="post__footer d--flex align_items--center justify--between px-2 mb-2">
        <div class="post__footer__reactions uppercase">
          <nuxt-link :to="`/blog/${post.slug}#comments`" class="font-color--secondary decoration--none">
            <font-awesome-icon :icon="['far', 'comments']" size="lg" class="mr-1" />
            {{ typeof post.comments === 'number' ? post.comments : post.comments.length }} Comments
          </nuxt-link>
          <span class="clickable ml-6" @click="likePost(post.id)">
            <font-awesome-icon :icon="[`${isPostLiked(post.id) ? 'fas' : 'far'}`, 'heart']" size="lg" class="mr-1" />
            {{ post.likes }} Likes
          </span>
        </div>
        <Socials :socials-items="socialItems" class="post__footer__socials" />
      </div>
    </div>
  </article>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Socials from './Socials'

export default {
  components: {
    Socials
  },
  props: {
    post: {
      type: Object,
      default: () => {}
    },
    isPreview: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      socialItems: [
        { name: 'twitter', url: 'https://www.twitter.com', iconType: 'fab', icon: 'twitter' },
        { name: 'facebook', url: 'https://www.facebook.com', iconType: 'fab', icon: 'facebook-f' },
        { name: 'dribbble', url: 'https://www.dribbble.com', iconType: 'fab', icon: 'dribbble' },
        { name: 'pinterest', url: 'https://www.pinterest.com', iconType: 'fab', icon: 'pinterest' }
      ]
    }
  },
  computed: {
    ...mapGetters({
      isPostLiked: 'posts/isPostLiked'
    })
  },
  methods: {
    ...mapActions({
      likePost: 'posts/likePost'
    })
  }
}
</script>

<style scoped lang="scss">
  .post {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    .post__image {
      height: 490px;
      background-color: $secondary-color;
      margin-bottom: 5rem;

      .post__image__icon {
        padding: 0.3rem;
        color: $third-color;
        left: 50%;
        bottom: -16px;
        transform: translateX(-50%);
        background-color: black;
      }

      @media screen and (max-width: $mobile-xs-max-width) {
        & {
          height: 200px;
        }
      }
    }

    .post__header {
      .post__header__category,
      .post__header__author,
      .post__header__date {
        letter-spacing: 0.2rem;
      }

      .post__header__title {
        font-size: 2.8rem;
        letter-spacing: 0.2rem;
      }

      @media screen and (max-width: $mobile-md-max-width) {
        .post__header__wrapper {
          flex-wrap: wrap;

          .post__header__author {
            margin-bottom: 1rem;
          }
        }
      }

      @media screen and (max-width: $mobile-xs-max-width) {
        .post__header__author {
          margin-right: 0;
        }
      }
    }

    .post__read_more_btn {
      border: 1px solid $accent-font-color;
    }

    .post__tags_list {
      @include list-reset;

      .tags__icon {
        width: 55px;
        height: 55px;
        padding: 1.6rem;
      }

      .tag {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .post__footer {
      @media screen and (max-width: $mobile-sm-max-width) {
        justify-content: space-between;
        flex-wrap: wrap;
      }

      @media screen and (max-width: 550px) {
        justify-content: space-around;

        .post__footer__reactions {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
</style>
