<template>
  <div class="author d--flex bg-color--third">
    <img src="~/assets/images/author.jpg" alt="Author image" class="author__photo">
    <div class="author__about pa-6">
      <h5 class="author__about__title font-bolder uppercase pb-5 mb-5">
        John Doe
      </h5>
      <p class="author__about__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid natus nesciunt porro reprehenderit. A alias aperiam blanditiis perferendis perspiciatis sapiente? Aspernatur culpa dignissimos fugit incidunt iste iusto nostrum sint suscipit!
      </p>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
    .author {
      &__photo {
        width: 70%;
        min-width: 300px;
        height: 70%;
      }

      &__about {
        &__title {
          font-size: 1.6rem;
          color: $secondary-font-color;
          border-bottom: 1px solid $secondary-color;
        }

        &__desc {
          color: $secondary-font-color;
        }
      }

      @media screen and (max-width: $mobile-sm-max-width) {
        & {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: center;

          &__photo {
            margin: 0 auto;
          }
        }
      }
    }
</style>
