<template>
  <div class="post__comment px-2 py-4">
    <div class="comment__header d--flex justify--between font-color--accent mb-2">
      <p class="comment__author font-bolder">
        {{ comment.author }}
      </p>
      <p class="comment__date">
        {{ comment.date }}
      </p>
    </div>
    <div class="comment__content">
      <p v-if="comment.text.length < readLessViewMaxLength" class="comment__text italic">
        {{ comment.text }}
      </p>
      <p v-else class="comment__text italic">
        {{ content }}
        <span class="read-more-btn font-bolder" @click="isReadMoreView = !isReadMoreView">
          Read {{ isReadMoreView ? 'less' : 'more' }}
        </span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comment: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      isReadMoreView: false,
      readLessViewMaxLength: 300
    }
  },
  computed: {
    content () {
      return this.isReadMoreView ? `${this.comment.text} ` : `${this.comment.text.substring(0, this.readLessViewMaxLength)}... `
    }
  }
}
</script>

<style scoped lang="scss">
  .post__comment {
    background-color: $third-color;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    & .comment__header {
      font-size: 2rem;
    }

    & .comment__content {
      min-height: 60px;

      & .read-more-btn {
        cursor: pointer;
      }
    }
  }
</style>
