<template>
  <div class="socials__wrapper">
    <ul :class="['socials__list', 'd--flex', 'align_items--center', `justify--${justify}`]">
      <li v-for="item in socialsItems" :key="item.name" class="socials__list__item">
        <a :href="item.url" class="socials__link">
          <font-awesome-icon :icon="[item.iconType, item.icon]" :size="iconsSize" />
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    justify: {
      type: String,
      default: 'center'
    },
    iconsSize: {
      type: String,
      default: 'lg'
    },
    socialsItems: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped lang="scss">
  .socials__list {
    @include list-reset;

    .socials__list__item {
      &:last-child {
        margin-right: 0;
      }

      .socials__link {
        @include icon(55px, 55px, 16px);
        color: inherit;
      }
    }
  }
</style>
