@import "../vars/colors";
@import "../vars/sizes";
@import "../vars/typography";
@import "spacing";
@import "help-classes";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  body {
    color: $main-font-color;
    font-size: $main-font-size;
    font-family: $main-font-family;
    font-weight: $main-font-weight;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
}

.main_container { max-width: $desktop-xl-max-width; }

.bg-color--main { background-color: $main-color; }
.bg-color--secondary { background-color: $secondary-color; }
.bg-color--third { background-color: $third-color; }
.bg-color--accent { background-color: $accent-color; }

.font-color--main { color: $main-font-color; }
.font-color--secondary { color: $secondary-font-color; }
.font-color--accent { color: $accent-font-color; }

.font-family--main { font-family: $main-font-family; }
