.h-25 { height: 25%; }
.h-33 { height: calc(100% / 3); }
.h-50 { height: 50%; }
.h-100 { height: 100%; }
.w-25 { width: 25%; }
.w-33 { width: calc(100% / 3); }
.w-50 { width: 50%; }
.w-100 { width: 100%; }

.center { margin-left: auto; margin-right: auto; }

.d--block { display: block; }
.d--flex { display: flex; }
.d--inline { display: inline; }
.d--inline-block { display: inline-block; }
.d--table { display: table; }
.d--none { display: none; }

.row { flex-direction: row; }
.row-reverse { flex-direction: row-reverse; }
.column { flex-direction: column; }
.column-reverse { flex-direction: column-reverse; }

.align_content--start { align-content: flex-start; }
.align_content--end { align-content: flex-end; }
.align_content--center { align-content: center; }
.align_content--stretch { align-content: stretch; }
.align_content--around { align-content: space-around; }
.align_content--between { align-content: space-between; }

.align_items--start { align-items: flex-start; }
.align_items--end { align-items: flex-end; }
.align_items--center { align-items: center; }
.align_items--stretch { align-items: stretch; }
.align_items--baseline { align-items: baseline; }

.justify--start { justify-content: flex-start; }
.justify--end { justify-content: flex-end; }
.justify--center { justify-content: center; }
.justify--around { justify-content: space-around; }
.justify--between { justify-content: space-between; }
.justify--evenly { justify-content: space-evenly; }

.wrap { flex-wrap: wrap; }
.wrap-reverse { flex-wrap: wrap-reverse; }
.nowrap { flex-wrap: nowrap; }

.p--relative { position: relative; }
.p--absolute { position: absolute; }

.overflow--hidden { overflow: hidden; }
.overflow_x--hidden { overflow-x: hidden; }
.overflow_y--hidden { overflow-y: hidden; }

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.font-light { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-bolder { font-weight: 600; }
.font-bold { font-weight: 700; }

.italic { font-style: italic; }
.font-normal { font-style: normal; }

.decoration--none { text-decoration: none; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.clickable:hover { cursor: pointer; }
