@import "../vars/sizes";

.pa-0 { padding: 0; }
.pl-0 { padding-left: 0; }
.pr-0 { padding-right: 0; }
.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }
.px-0 { padding-left: 0; padding-right: 0; }
.py-0 { padding-top: 0; padding-bottom: 0; }

.pa-1 { padding: $spacing-1; }
.pl-1 { padding-left: $spacing-1; }
.pr-1 { padding-right: $spacing-1; }
.pt-1 { padding-top: $spacing-1; }
.pb-1 { padding-bottom: $spacing-1; }
.px-1 { padding-left: $spacing-1; padding-right: $spacing-1; }
.py-1 { padding-top: $spacing-1; padding-bottom: $spacing-1; }

.pa-2 { padding: $spacing-2; }
.pl-2 { padding-left: $spacing-2; }
.pr-2 { padding-right: $spacing-2; }
.pt-2 { padding-top: $spacing-2; }
.pb-2 { padding-bottom: $spacing-2; }
.px-2 { padding-left: $spacing-2; padding-right: $spacing-2; }
.py-2 { padding-top: $spacing-2; padding-bottom: $spacing-2; }

.pa-3 { padding: $spacing-3; }
.pl-3 { padding-left: $spacing-3; }
.pr-3 { padding-right: $spacing-3; }
.pt-3 { padding-top: $spacing-3; }
.pb-3 { padding-bottom: $spacing-3; }
.px-3 { padding-left: $spacing-3; padding-right: $spacing-3; }
.py-3 { padding-top: $spacing-3; padding-bottom: $spacing-3; }

.pa-4 { padding: $spacing-4; }
.pl-4 { padding-left: $spacing-4; }
.pr-4 { padding-right: $spacing-4; }
.pt-4 { padding-top: $spacing-4; }
.pb-4 { padding-bottom: $spacing-4; }
.px-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
.py-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }

.pa-5 { padding: $spacing-5; }
.pl-5 { padding-left: $spacing-5; }
.pr-5 { padding-right: $spacing-5; }
.pt-5 { padding-top: $spacing-5; }
.pb-5 { padding-bottom: $spacing-5; }
.px-5 { padding-left: $spacing-5; padding-right: $spacing-5; }
.py-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }

.pa-6 { padding: $spacing-6; }
.pl-6 { padding-left: $spacing-6; }
.pr-6 { padding-right: $spacing-6; }
.pt-6 { padding-top: $spacing-6; }
.pb-6 { padding-bottom: $spacing-6; }
.px-6 { padding-left: $spacing-6; padding-right: $spacing-6; }
.py-6 { padding-top: $spacing-6; padding-bottom: $spacing-6; }

.ma-0 { margin: 0; }
.ml-0 { margin-left: 0; }
.mr-0 { margin-right: 0; }
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mx-0 { margin-left: 0; margin-right: 0; }
.my-0 { margin-top: 0; margin-bottom: 0; }

.ma-1 { margin: $spacing-1; }
.ml-1 { margin-left: $spacing-1; }
.mr-1 { margin-right: $spacing-1; }
.mt-1 { margin-top: $spacing-1; }
.mb-1 { margin-bottom: $spacing-1; }
.mx-1 { margin-left: $spacing-1; margin-right: $spacing-1; }
.my-1 { margin-top: $spacing-1; margin-bottom: $spacing-1; }

.ma-2 { margin: $spacing-2; }
.ml-2 { margin-left: $spacing-2; }
.mr-2 { margin-right: $spacing-2; }
.mt-2 { margin-top: $spacing-2; }
.mb-2 { margin-bottom: $spacing-2; }
.mx-2 { margin-left: $spacing-2; margin-right: $spacing-2; }
.my-2 { margin-top: $spacing-2; margin-bottom: $spacing-2; }

.ma-3 { margin: $spacing-3; }
.ml-3 { margin-left: $spacing-3; }
.mr-3 { margin-right: $spacing-3; }
.mt-3 { margin-top: $spacing-3; }
.mb-3 { margin-bottom: $spacing-3; }
.mx-3 { margin-left: $spacing-3; margin-right: $spacing-3; }
.my-3 { margin-top: $spacing-3; margin-bottom: $spacing-3; }

.ma-4 { margin: $spacing-4; }
.ml-4 { margin-left: $spacing-4; }
.mr-4 { margin-right: $spacing-4; }
.mt-4 { margin-top: $spacing-4; }
.mb-4 { margin-bottom: $spacing-4; }
.mx-4 { margin-left: $spacing-4; margin-right: $spacing-4; }
.my-4 { margin-top: $spacing-4; margin-bottom: $spacing-4; }

.ma-5 { margin: $spacing-5; }
.ml-5 { margin-left: $spacing-5; }
.mr-5 { margin-right: $spacing-5; }
.mt-5 { margin-top: $spacing-5; }
.mb-5 { margin-bottom: $spacing-5; }
.mx-5 { margin-left: $spacing-5; margin-right: $spacing-5; }
.my-5 { margin-top: $spacing-5; margin-bottom: $spacing-5; }

.ma-6 { margin: $spacing-6; }
.ml-6 { margin-left: $spacing-6; }
.mr-6 { margin-right: $spacing-6; }
.mt-6 { margin-top: $spacing-6; }
.mb-6 { margin-bottom: $spacing-6; }
.mx-6 { margin-left: $spacing-6; margin-right: $spacing-6; }
.my-6 { margin-top: $spacing-6; margin-bottom: $spacing-6; }
