@font-face {
  font-family: 'Hind';
  src: url("~assets/fonts/Hind/HindBold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Hind';
  src: url("~assets/fonts/Hind/HindSemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Hind';
  src: url("~assets/fonts/Hind/HindMedium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Hind';
  src: url("~assets/fonts/Hind/HindRegular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Hind';
  src: url("~assets/fonts/Hind/HindLight.ttf") format('truetype');
  font-weight: 300;
}
