$main-color: #f8f8f8;
$secondary-color: #212429;
$third-color: #ffffff;
$accent-color: #999999;
$error-color: #cc2127;

$main-font-color: #ffffff;
$secondary-font-color: #212121;
$accent-font-color: #999999;

$footer-bg-color: #17191c;
$quote-component-bg-color: #000000;
$btn-bg-color: #212121;
