$mobile-xs-max-width: 480px;
$mobile-sm-max-width: 767px;
$mobile-md-max-width: 1024px;
$desktop-lg-max-width: 1224px;
$desktop-xl-max-width: 1530px;

$spacing-1: 0.8rem;
$spacing-2: 1rem;
$spacing-3: 1.6rem;
$spacing-4: 2rem;
$spacing-5: 2.4rem;
$spacing-6: 3rem;

$main-font-size: 1.6rem;
