<template>
  <div class="bg-color--main">
    <Navigation />
    <Header />
    <MainSlider :items="mainSliderItems" />
    <Newsletter />
    <div class="container w-100 center my-6">
      <nuxt class="main_content w-100" />
      <Aside
        :ad="asideAd"
        :ad-small="asideAdSmall"
        :article-categories="asideArticleCategories"
        :articles-latest="asideArticlesLatest"
        :slider-items="asideSliderItems"
        :socials-display="true"
      />
    </div>
    <Footer
      :latest-comments="footerLatestComments"
      :latest-tweets="footerLatestTweets"
      :latest-instagram-photos="footerLatestInstagramPhotos"
    />
  </div>
</template>

<script>
import Navigation from '../components/Navigation'
import Header from '../components/Header'
import MainSlider from '../components/MainSlider'
import Newsletter from '../components/Newsletter'
import Aside from '../components/Aside'
import Footer from '../components/Footer'

export default {
  components: {
    Navigation,
    Header,
    MainSlider,
    Newsletter,
    Aside,
    Footer
  },
  data () {
    return {
      mainSliderItems: [
        {
          imageSrc: 'slider_1.jpg',
          title: 'How to be efficient',
          url: '/blog/how-to-be-efficient'
        },
        {
          imageSrc: 'slider_2.jpg',
          title: 'How to be efficient',
          url: '/blog/how-to-be-efficient'
        },
        {
          imageSrc: 'slider_3.jpg',
          title: 'How to be efficient',
          url: '/blog/how-to-be-efficient'
        }
      ],
      asideAd: {
        imageSrc: 'ad_image.jpeg',
        alt: 'Ad'
      },
      asideAdSmall: {
        imageSrc: 'ad_image_small.jpg',
        alt: 'Ad'
      },
      asideSliderItems: [
        {
          imageSrc: '',
          title: 'How to be efficient',
          url: '/blog/how-to-be-efficient'
        }
      ],
      footerLatestTweets: [
        {
          url: 'https://www.twitter.com',
          author: 'magicalrebecah',
          text: 'Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.'
        },
        {
          url: 'https://www.twitter.com',
          author: 'magicalrebecah',
          text: 'Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.'
        }
      ],
      footerLatestInstagramPhotos: [
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        }
      ],
      footerLatestComments: [
        {
          url: '/blog/how-to-be-efficient',
          author: 'Alex',
          text: 'Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.'
        },
        {
          url: '/blog/how-to-be-efficient',
          author: 'John',
          text: 'Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.'
        }
      ]
    }
  },
  computed: {
    asideArticleCategories () {
      return this.$store.state.asideArticleCategories
    },
    asideArticlesLatest () {
      return this.$store.state.asideArticlesLatest
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/styles/main.scss';

  .container {
    @include flex-display(row, center, flex-start);
    max-width: $desktop-xl-max-width;
    overflow-x: hidden;

    .main_content {
      max-width: calc(100% - 420px);
    }
  }
</style>
