<template>
  <div class="bg-color--main">
    <Navigation />
    <Header />
    <div class="container w-100 center my-6">
      <nuxt class="main_content" />
      <Aside :ad-small="asideAdSmall" :articles-latest="asideArticlesLatest" />
    </div>
    <Footer
      :latest-comments="footerLatestComments"
      :latest-tweets="footerLatestTweets"
      :latest-instagram-photos="footerLatestInstagramPhotos"
    />
  </div>
</template>

<script>
import Navigation from '../components/Navigation'
import Header from '../components/Header'
import Aside from '../components/Aside'
import Footer from '../components/Footer'

export default {
  components: {
    Navigation,
    Header,
    Aside,
    Footer
  },
  data () {
    return {
      mainSliderItems: [
        {
          imageSrc: 'slider_1.jpg',
          title: 'Bodybuilding best for your health',
          url: '/blog/lifestyle/bodybuilding-best-for-your-health'
        },
        {
          imageSrc: 'slider_2.jpg',
          title: 'Bodybuilding best for your health',
          url: '/blog/lifestyle/bodybuilding-best-for-your-health'
        },
        {
          imageSrc: 'slider_3.jpg',
          title: 'Bodybuilding best for your health',
          url: '/blog/lifestyle/bodybuilding-best-for-your-health'
        }
      ],
      asideAdSmall: {
        imageSrc: 'ad_image_small.jpg',
        alt: 'Ad'
      },
      asideArticlesLatest: [
        { title: 'Journey towards the lifestyle', date: new Date('07.15.2019'), likes: 255, imageSrc: '' },
        { title: 'Fashionable shoes for men', date: new Date('07.13.2019'), likes: 26, imageSrc: '' },
        { title: 'Really awesome adventure', date: new Date('07.11.2019'), likes: 23, imageSrc: '' },
        { title: 'Man hunting in jungle', date: new Date('07.09.2019'), likes: 25, imageSrc: '' }
      ],
      footerLatestTweets: [
        {
          url: 'https://www.twitter.com',
          author: 'magicalrebecah',
          text: 'Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.'
        },
        {
          url: 'https://www.twitter.com',
          author: 'magicalrebecah',
          text: 'Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.'
        }
      ],
      footerLatestInstagramPhotos: [
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        },
        {
          url: 'https://www.instagram.com',
          imageSrc: ''
        }
      ],
      footerLatestComments: [
        {
          url: '/blog/lifestyle/bodybuilding-best-for-your-health',
          author: 'Alex',
          text: 'Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.'
        },
        {
          url: '/blog/lifestyle/bodybuilding-best-for-your-health',
          author: 'John',
          text: 'Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur.'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
  @import '../assets/styles/main.scss';

  .container {
    @include flex-display(row, center, flex-start);
    max-width: $desktop-xl-max-width;
    padding: 0 0.8rem;
    overflow-x: hidden;

    .main_content {
      width: calc(100% - 420px);

      @media screen and (max-width: $desktop-lg-max-width) {
        min-width: 100%;
      }
    }
  }
</style>
