<template>
  <div class="error__wrapper w-100 text-center">
    <img
      v-if="error.statusCode === 404"
      :src="require(`~/assets/images/${error.statusCode}_image.jpg`)"
      :alt="`${error.statusCode} - error image`"
      class="w-100"
    >
    <div class="search__bar w-100 mt-3 mb-6">
      <label class="hidden" for="search">Search keywords</label>
      <input id="search" class="form__input mb-3" type="text" placeholder="TYPE ANY KEYWORD">
      <button class="btn-submit" type="button">
        Search
      </button>
    </div>
    <h4 class="error__title font-color--secondary">
      Sorry!
    </h4>
    <p class="error__text font-color--accent font-bolder mb-4">
      The page you are looking for does not exist or another error occurred
    </p>
    <a href="/blog" class="link font-color--accent decoration--none">
      <font-awesome-icon :icon="['fas', 'home']" size="2x" class="link__icon" />
      <span class="link__text font-bolder uppercase ml-2">Go back Home</span>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  layout: 'error-layout'
}
</script>

<style scoped lang="scss">
  .error__wrapper {
    max-width: 770px;

    .search__bar {
      @include flex-display(row, center, flex-start, wrap);

      .form__input {
        width: calc(100% - 140px);
      }

      @media screen and (max-width: $mobile-md-max-width) {
        .form__input {
          width: 100%;
        }
      }
    }

    .error__title {
      font-size: 4rem;
      line-height: 4rem;
    }

    .error__text {
      font-size: 2rem;
    }

    .link {
      @include flex-display(row, center, flex-end);

      .link__icon {
        @include icon(30px, 30px, 0.2rem);
      }

      .link__text {
        font-size: 2.2rem;
        line-height: 2.2rem;
      }
    }
  }
</style>
