<template>
  <div class="error__container mx-1 my-2">
    <nuxt />
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
  @import '../assets/styles/main.scss';

  .error__container {
    @include flex-display(column, center, center);
    min-height: 100vh;
  }
</style>
