<template>
  <main>
    <Post :post="post" class="mb-6" />
    <div class="buttons__wrapper w-100 uppercase mb-6">
      <nuxt-link :to="post.prev ? post.prev : '#'" :class="['nav_button', { inactive: !post.prev }]">
        <font-awesome-icon :icon="['fas', 'long-arrow-alt-left']" />
        Prev
      </nuxt-link>
      <nuxt-link :to="post.next ? post.next : '#'" :class="['nav_button', { inactive: !post.next }]">
        Next
        <font-awesome-icon :icon="['fas', 'long-arrow-alt-right']" />
      </nuxt-link>
    </div>
    <PostAuthor class="mb-6" />
    <section id="comments">
      <h4 class="comments__title text-center font-bold uppercase mb-2">
        Comments
      </h4>
      <form id="comment__form" class="text-right mb-6" action="#" @submit.prevent="submitComment">
        <label class="hidden" for="author">Author: </label>
        <input
          id="author"
          v-model="form.author"
          value=""
          class="form__input w-100 mb-2"
          type="text"
          placeholder="AUTHOR"
        >
        <label class="hidden" for="message">Message: </label>
        <textarea
          id="message"
          v-model="form.message"
          class="form__input form__textarea w-100 mb-2"
          placeholder="MESSAGE"
        ></textarea>
        <button class="btn-submit" type="submit">
          Add comment
        </button>
      </form>
      <PostComment
        v-for="comment in comments()"
        :key="comment.id"
        class="mb-2"
        :comment="comment"
      />
      <Pagination :pages="pages()" @changePage="changePage" />
    </section>
  </main>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Post from '../../components/Post'
import PostAuthor from '../../components/PostAuthor'
import PostComment from '../../components/PostComment'
import Pagination from '../../components/Pagination'

export default {
  components: {
    Post,
    PostAuthor,
    PostComment,
    Pagination
  },
  layout: 'blog',
  async fetch ({ store, params }) {
    await store.dispatch('posts/fetchPost', params.slug)
  },
  data () {
    return {
      form: {
        author: '',
        message: ''
      }
    }
  },
  computed: {
    ...mapGetters('posts', {
      comments: 'getComments',
      pages: 'getTotalCommentsPages'
    }),
    post () {
      return this.$store.state.posts.post
    }
  },
  methods: {
    ...mapActions({
      changePage: 'posts/changeCommentsPage'
    }),
    submitComment () {
      const date = new Date()
      const data = {
        author: this.form.author,
        text: this.form.message,
        date: `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`,
        postId: this.post.postId
      }
      this.$store.dispatch('posts/addComment', data)
      this.form.author = ''
      this.form.message = ''
    }
  }
}
</script>

<style scoped lang="scss">
  .buttons__wrapper {
    @include flex-display(row, space-between, center);

    .nav_button {
      display: block;
      width: 48%;
      padding: 4rem 2rem;
      font-size: 1.4rem;
      text-align: center;
      color: $main-font-color;
      letter-spacing: 0.5rem;
      font-weight: 400;
      text-decoration: none;
      box-sizing: border-box;
      background-color: #222;

      &.inactive {
        pointer-events: none;
        background-color: #444;
      }
    }
  }

  #comments {
    color: $secondary-font-color;

    & .comments__title {
      font-size: 2.2rem;
      letter-spacing: 0.5rem;
    }

    & #comment__form .form__textarea {
      height: 16rem;
    }
  }
</style>
