<template>
  <main>
    <Post
      v-for="post in posts"
      :key="post.id"
      :is-preview="true"
      :post="post"
      class="post mb-6"
    />
    <Pagination
      :pages="pages()"
      @changePage="changePage({ page: $event, query: $route.query })"
    />
  </main>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Post from '../../components/Post'
import Pagination from '../../components/Pagination'

export default {
  components: {
    Post,
    Pagination
  },
  layout: 'blog',
  async fetch ({ redirect, store, query }) {
    if (!query.tag && !query.category) {
      await store.dispatch('posts/fetchPosts')
    } else if (query.tag || query.category) {
      await store.dispatch('posts/fetchPosts', query)
    } else {
      redirect('/404')
    }
  },
  computed: {
    ...mapGetters({
      pages: 'posts/getTotalPostsPages'
    }),
    posts () {
      return this.$store.state.posts.list
    },
    query () {
      return this.$route.query
    }
  },
  watch: {
    async query (newQuery) {
      await this.$store.dispatch('posts/fetchPosts', newQuery)
    }
  },
  methods: {
    ...mapActions({
      changePage: 'posts/changePostsPage'
    })
  }
}
</script>

<style scoped lang="scss">
</style>
