<template>
  <main class="about w-100">
    <img src="~/assets/images/about_image.jpg" alt="About image" class="about__image w-100">
    <div class="about__content font-color--secondary px-1">
      <h2 class="about__title uppercase text-center my-6">
        About me
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque doloribus molestias officiis
        recusandae. Accusamus animi earum et, facilis illo iusto maxime neque quibusdam quo ratione, sed sit, tempore
        veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem doloremque esse ipsum iste maxime
        nesciunt nobis, nulla possimus provident quos similique sit vero? Debitis repudiandae soluta ullam vel vitae?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci beatae cumque, dignissimos
        ducimus eligendi esse ipsam ipsum laboriosam libero, magnam molestiae nulla possimus quas quasi ratione repellat
        repudiandae voluptate!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque doloribus molestias officiis
        recusandae. Accusamus animi earum et, facilis illo iusto maxime neque quibusdam quo ratione, sed sit, tempore
        veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem doloremque esse ipsum iste maxime
        nesciunt nobis, nulla possimus provident quos similique sit vero? Debitis repudiandae soluta ullam vel vitae?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci beatae cumque, dignissimos
        ducimus eligendi esse ipsam ipsum laboriosam libero, magnam molestiae nulla possimus quas quasi ratione repellat
        repudiandae voluptate!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis deserunt enim iure sequi totam velit
        vero. Ab beatae cumque debitis deleniti illo, maxime provident quam sed sit tempore voluptas.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque doloribus molestias officiis
        recusandae. Accusamus animi earum et, facilis illo iusto maxime neque quibusdam quo ratione, sed sit, tempore
        veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem doloremque esse ipsum iste maxime
        nesciunt nobis, nulla possimus provident quos similique sit vero? Debitis repudiandae soluta ullam vel vitae?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci beatae cumque, dignissimos
        ducimus eligendi esse ipsam ipsum laboriosam libero, magnam molestiae nulla possimus quas quasi ratione repellat
        repudiandae voluptate!
      </p>
    </div>
  </main>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
  .about {
    background-color: $third-color;

    .about__image {
      max-height: 490px;
      background-size: auto;
      background-position: center;
    }

    .about__title {
      font-size: 2.8rem;
      letter-spacing: 0.5rem;
    }
  }
</style>
