<template>
  <div class="contact">
    <div class="contact__address__wrapper bg-color--third font-color--secondary w-100 mb-6">
      <img :src="require('~/assets/images/map.jpg')" alt="Localization map" class="contact__map">
      <div class="contact__address">
        <h2 class="contact__address__title font-bold uppercase mb-6">
          Contact information
        </h2>
        <hr class="contact__address__headline w-50 mb-6">
        <p class="mb-6">
          In case you got some questions popped in your’s mind, contact us or even visit us.
        </p>
        <address class="font-normal">
          <p class="mb-3">
            <font-awesome-icon :icon="['fas', 'home']" class="mr-1" />
            Address: 123 Street Name, City Name, United States.
          </p>
          <p class="mb-3">
            <font-awesome-icon :icon="['far', 'envelope']" class="mr-1" />
            Email: info@lifestyle.com
          </p>
          <p>
            <font-awesome-icon :icon="['fas', 'globe-americas']" class="mr-1" />
            Website: www.lifestyle.com
          </p>
        </address>
      </div>
    </div>
    <form action="#" class="contact__form d--flex wrap w-100">
      <div class="form__inputs__group w-100">
        <label class="hidden" for="name">Your name</label>
        <input id="name" class="form__input mb-4" type="text" placeholder="YOUR NAME">
        <label class="hidden" for="email">Your email</label>
        <input id="email" class="form__input mb-4" type="email" placeholder="YOUR EMAIL ADDRESS">
      </div>
      <label class="hidden" for="website">Your website</label>
      <input id="website" class="form__input w-100 mb-4" type="url" placeholder="WEBSITE ADDRESS">
      <label class="hidden" for="message">Your message</label>
      <textarea
        id="message"
        name="message"
        class="form__input w-100 mb-4"
        cols="30"
        rows="10"
        placeholder="PLEASE, WRITE YOUR MESSAGE HERE"
        style="resize: none"
      ></textarea>
      <button class="btn-submit">
        Send message
      </button>
    </form>
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
  .contact {
    @include flex-display(column, center, flex-start);

    .contact__address__wrapper {
      @include flex-display(row, flex-start, stretch, wrap);
      -webkit-box-shadow: 1px 1px 2px 0 rgba(46, 46, 46, 0.15);
      -moz-box-shadow: 1px 1px 2px 0 rgba(46, 46, 46, 0.15);
      box-shadow: 1px 1px 2px 0 rgba(46, 46, 46, 0.15);

      .contact__map {
          @media screen and (max-width: $mobile-sm-max-width) {
          & {
            width: 100%;
          }
        }
      }

      .contact__address {
        width: 43%;
        padding: 4rem 3rem;

        .contact__address__title {
          letter-spacing: 0.5rem;
        }

        .contact__address__headline {
          border: none;
          border-bottom: 1px solid $accent-font-color;
        }

        @media screen and (max-width: $mobile-md-max-width) {
          & {
            width: 40%;
          }
        }

        @media screen and (max-width: $mobile-sm-max-width) {
          & {
            width: 100%;

            .contact__address__title {
              text-align: center;
            }
            .contact__address__headline {
              margin: 0 auto 3rem;
            }
          }
        }
      }
    }

    .contact__form {
      .form__inputs__group {
        @include flex-display(row, space-between, center, wrap);

        .form__input {
          width: calc(50% - 1.5rem);

          &:nth-child(2) {
            margin-right: 3rem;
          }

          @media screen and (max-width: $mobile-sm-max-width) {
            width: 100%;

            &:nth-child(2) {
              margin-right: 0;
            }
          }
        }
      }

      .btn-submit {
        @media screen and (max-width: $mobile-sm-max-width) {
          width: 100%;
        }
      }
    }
  }
</style>
